Repository jenkins-infra/packer-images, pull requests merged in 2023-11, with the labels that each got.

#852 chore(goss): migrating shell sanity tests to goss - phase 1
  build-jenkins-agent-ubuntu.pkr.hcl
  goss/goss-linux.yaml
  goss/goss.yaml
  provisioning/ubuntu-provision.sh
Labels: chore

#897 chore(tests) fix goss linux harness
  goss/goss-linux.yaml
Labels: chore

#898 feat: add `azcopy` to Linux provisioning
  goss/goss-linux.yaml
  provisioning/tools-versions.yml
  provisioning/ubuntu-provision.sh
Labels: enhancement, ubuntu, azcopy

#907 chore(goss) fix azcopy version check and updatecli tracking
  goss/goss-linux.yaml
  updatecli/updatecli.d/azcopy.yaml
Labels: chore, updatecli, goss, azcopy

#906 chore(goss): moving all sanity checks to goss
  build-jenkins-agent-ubuntu.pkr.hcl
  goss/goss-linux.yaml
  provisioning/ubuntu-provision.sh
Labels: chore, tests

#914 chore(goss): update goss-linux before updatecli
  goss/goss-linux.yaml
Labels: skip-changelog

#910 chore(updatecli): update to keep goss file up2date
  provisioning/tools-versions.yml
  updatecli/updatecli.d/hadolint.yml
  updatecli/updatecli.d/jdk11.yml
  updatecli/updatecli.d/jq.yml
  updatecli/updatecli.d/jx-release-version.yml
  updatecli/updatecli.d/launchable.yml
  updatecli/updatecli.d/maven.yml
  updatecli/updatecli.d/packer.yml
  updatecli/updatecli.d/playwright.yml
  updatecli/updatecli.d/python3.yml
  updatecli/updatecli.d/terraform.yml
  updatecli/updatecli.d/updatecli.yml
  updatecli/updatecli.d/vagrant.yml
Labels: chore, updatecli

#919 chore(updatecli, tests) fix Linux Git manifest to also update goss
  goss/goss-linux.yaml
  updatecli/updatecli.d/git-linux.yml
Labels: chore, updatecli, ubuntu, git, linux
