Repository jenkins-infra/packer-images, pull requests merged in 2024-02, with the labels that each got.

#1029 chore: update `inbound-agent` repo in docker-jenkins-agent.sh
  provisioning/docker-jenkins-agent.sh
Labels: chore

#1044 chore: install yq from its GitHub repository
  provisioning/ubuntu-provision.sh
Labels: yq

#1046 chore(updatecli) add a manifest to bump kubectl with pattern
  updatecli/updatecli.d/kubectl.yaml
Labels: chore

#1043 fix(ubuntu) correct asdf inclusion in `/etc/environment` for Linux VMs
  goss/goss-common.yaml
  provisioning/ubuntu-provision.sh
Labels: bug, asdf

#1049 chore: restore ruby version goss check for Linux
  goss/goss-common.yaml
  goss/goss-linux.yaml
  goss/goss-windows.yaml
Labels: chore, goss

#1039 chore: separate updatecli to its own pipeline
  Jenkinsfile_k8s
  Jenkinsfile_updatecli
Labels: chore, updatecli

#1060 chore(updatecli) add a condition to check the package existence for GIT (linux)
  updatecli/scripts/fetch-git-apt-latest-version.sh
  updatecli/scripts/run-in-docker.sh
  updatecli/updatecli.d/git-linux.yml
Labels: chore, updatecli, git

#1061 fix(ubuntu) prefer `asdf` tools over system tools in default `PATH`es
  provisioning/ubuntu-provision.sh
  sources.pkr.hcl
Labels: bug, ubuntu, linux, asdf, ruby

#1070 chore(updatecli): add a manifest to track last ruby version
  updatecli/updatecli.d/ruby.yml
Labels: chore, updatecli, ruby
