Repository jenkins-infra/packer-images, pull requests merged in 2024-03, with the labels that each got.

#1084 feat(ubuntu): include `get-fileshare-signed-url.sh` script
  build-jenkins-agent-ubuntu.pkr.hcl
  provisioning/get-fileshare-signed-url.sh
  provisioning/ubuntu-provision.sh
Labels: enhancement, ubuntu, azcopy

#1086 chore(updatecli): track `get-fileshare-signed-url.sh` script content
  provisioning/get-fileshare-signed-url.sh
  updatecli/updatecli.d/get-fileshare-signed-url.yml
Labels: chore, updatecli, get-fileshare-signed-url

#1096 chore(goss): remove CST from goss linus as already in common
  goss/goss-common.yaml
  goss/goss-linux.yaml
Labels: chore, cleanup, goss

#1097 chore(windows): change installation from chocolatey to github binary for `yq`
  provisioning/windows-provision.ps1
Labels: chore, windows, yq
