Repository jenkins-infra/packer-images, pull requests merged in 2024-06, with the labels that each got.

#1215 feat(Windows): add `buildx`
  goss/goss-windows.yaml
  provisioning/tools-versions.yml
  provisioning/windows-provision.ps1
Labels: enhancement, windows, buildx

#1239 chore(updatecli) track 1.28.x line of `kubectl` versions
  updatecli/updatecli.d/kubectl.yaml
Labels: chore, updatecli, kubectl

#1248 chore(updatecli) fix az CLI manifest to only get the latest GH release
  updatecli/updatecli.d/azure-cli.yml
Labels: chore, updatecli, azure
