Repository jenkins-infra/packer-images, pull requests merged in 2024-09, with the labels that each got.

#1376 Revert "Bump Docker CE version to 27.2.0"
  provisioning/tools-versions.yml
  tests/goss-common.yaml
Labels: bug

#1370 feat!(ubuntu): Removed all definitions of 'default_jdk' from ubuntu image templates
  provisioning/ubuntu-provision.sh
  tests/goss-common.yaml
  tests/goss-linux.yaml
  tests/goss-windows.yaml
Labels: breaking, ubuntu, temurin

#1378 feat!(windows): Removed all definitions of 'default_jdk' from windows image templates
  provisioning/tools-versions.yml
  provisioning/windows-provision.ps1
  tests/goss-common.yaml
  tests/goss-linux.yaml
  tests/goss-windows.yaml
  updatecli/updatecli.d/jdk11.yml
Labels: enhancement, windows, breaking

#1412 feat(ubuntu): Introducing entropy tools in ubuntu VM templates
  provisioning/ubuntu-provision.sh
  tests/goss-linux.yaml
Labels: enhancement, ubuntu
