Repository jenkins-infra/packer-images, pull requests merged in 2024-05, with the labels that each got.

#1165 chore(goss): add environement variable to goss execution
  build-jenkins-agent-ubuntu.pkr.hcl
  build-jenkins-agent-windows.pkr.hcl
Labels: chore

#1169 hotfix(goss) stop using the `container-structure-test version` until https://github.com/GoogleContainerTools/container-structure-test/issues/445 is resolved
  goss/goss-common.yaml
Labels: chore

#1171 chore(updatecli) remove goss update for cst
  updatecli/updatecli.d/container-structure-test.yml
Labels: chore, updatecli

#1170 chore(updatecli/goss): change yaml engine to comply with goss templating on goss-windows and improve goss test
  build-jenkins-agent-windows.pkr.hcl
  goss/goss-windows.yaml
  updatecli/updatecli.d/jdk11.yml
  updatecli/updatecli.d/jdk17.yml
  updatecli/updatecli.d/jdk21.yml
  updatecli/updatecli.d/jdk8.yml
  updatecli/updatecli.d/nodejs-windows.yml
  updatecli/updatecli.d/pwsh.yml
  updatecli/updatecli.d/python3.yml
  updatecli/updatecli.d/ruby.yml
  updatecli/updatecli.d/vagrant.yml
Labels: chore, updatecli, windows, goss
