Repository jenkins-infra/packer-images, pull requests merged in 2024-10, with the labels that each got.

#1443 chore(updatecli): add manifest for azure windows images
  Jenkinsfile_updatecli
  build-jenkins-agent-windows.pkr.hcl
  images-versions.yaml
  locals.pkr.hcl
  updatecli/updatecli.d/windows-2019-images.yml
  updatecli/updatecli.d/windows-2022-images.yml
Labels: chore, updatecli, azure

#1472 chore(ubuntu): Use pinned aws base AMI IDs from `images-versions.yaml`
  build-jenkins-agent-ubuntu.pkr.hcl
  locals.pkr.hcl
Labels: chore, ubuntu, aws

#1482 chore(jenkinsfile):Add updatecli-aws-credentials
  Jenkinsfile_updatecli
Labels: skip-changelog

#1475 chore(updatecli):Track `ubuntu 22.04 AMD64` AMI ID
  updatecli/updatecli.d/ubuntu-22-04-amd64-images.yaml
Labels: chore, updatecli, ubuntu, aws, amd64

#1476 chore(updatecli):Track `ubuntu 22.04 ARM64` AMI ID
  updatecli/updatecli.d/ubuntu-22-04-arm64-images.yaml
Labels: chore, updatecli, ubuntu, arm64, aws

#1486 chore(updatecli) switch NodeJS version to new LTS 22.x
  updatecli/updatecli.d/nodejs-linux.yml
  updatecli/updatecli.d/nodejs-windows.yml
Labels: chore
