Repository jenkins-infra/packer-images, pull requests merged in 2025-05, with the labels that each got.

#1923 chore(updatecli) track version of `golangci-lint`
  updatecli/updatecli.d/golangci-lint.yml
Labels: chore, updatecli, golangci-lint

#1925 chore(updatecli) fix golangci-lint manifest
  updatecli/updatecli.d/golangci-lint.yml
Labels: chore, updatecli, golangci-lint

#1930 chore(updatecli): upgrade jdk updatecli manifest to use the temurin kind
  updatecli/scripts/check-jdk.sh
  updatecli/updatecli.d/jdk11.yml
  updatecli/updatecli.d/jdk17.yml
  updatecli/updatecli.d/jdk21.yml
  updatecli/updatecli.d/jdk8.yml
Labels: chore, updatecli, jdk, jdk21, jdk8, jdk11, jdk17

#1922 chore(updatecli): factorization for jdk manifest into one file
  updatecli/updatecli.d/jdk11.yml
  updatecli/updatecli.d/jdk17.yml
  updatecli/updatecli.d/jdk21.yml
  updatecli/updatecli.d/jdk8.yml
  updatecli/updatecli.d/jdks.yml
  updatecli/values.yaml
Labels: chore, updatecli, jdk

#1932 fix(ubuntu) use `azcopy` debian package from GH release to circumvent Microsoft Azcopy package errors
  provisioning/ubuntu-provision.sh
  updatecli/updatecli.d/azcopy.yaml
Labels: bug, ubuntu, azure

#1937 Add Server-Media-Foundation as part of the Windows provisioning script
  provisioning/windows-provision.ps1
Labels: enhancement
