Repository jenkins-infra/packer-images, pull requests merged in 2025-03, with the labels that each got.

#1779 feat(windows): enable LongPaths in registry
  provisioning/windows-provision.ps1
Labels: enhancement, windows

#1792 fix(Windows/git) Ensure Git LongPath is set at system level
  provisioning/windows-provision.ps1
Labels: bug, windows, git

#1787 revert[git/windows] revert version from 2.48.1 to 2.47.1
  provisioning/tools-versions.yml
Labels: bug

#1801 chore(updatecli) track kubectl `1.31.x` line instead of `1.30.x`
  updatecli/updatecli.d/kubectl.yaml
Labels: updatecli, kubectl

#1824 chore(amazon-ebs): use spot instances
  locals.pkr.hcl
  sources.pkr.hcl
Labels: chore
